@import url(http://fonts.googleapis.com/css?family=Jaldi);

html, * {
  font-family: 'Jaldi', sans-serif; 
}

.float {
  position: absolute;
}

.flex-container {
  display: inline-flex; 
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 320px);
}

div {
  margin: 10px;
}